{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1><i class="fas fa-money-bill-wave"></i>
        <i class="fas fa-money-bill-wave"></i>
        <i class="fas fa-money-bill-wave"></i>
         BidCardCoin
        <i class="fas fa-money-bill-wave"></i>
        <i class="fas fa-money-bill-wave"></i>
        <i class="fas fa-money-bill-wave"></i></h1>
    <h2>✅✅✅✅✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅✅✅❌✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅❌✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅❌✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ❌✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅❌✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅❌✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅✅✅✅✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅<br>
        ✅✅✅✅❌✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅<br></h2>
</div>
{% endblock %}
