{% extends 'base.html.twig' %}

{% block title %}Edit Vendeur{% endblock %}

{% block body %}
    <h1>Edit Vendeur</h1>

    {{ include('vendeur/_form.html.twig', {'button_label': 'Appliquer'}) }}

    <a href="{{ path('vendeur_index') }}">Retour</a>

    {{ include('vendeur/_delete_form.html.twig') }}
{% endblock %}
