{% extends 'base.html.twig' %}

{% block title %}Vendeur{% endblock %}

{% block body %}
    <h1>Vendeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vendeur.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vendeur_index') }}">back to list</a>

    <a href="{{ path('vendeur_edit', {'id': vendeur.id}) }}">edit</a>

    {{ include('vendeur/_delete_form.html.twig') }}
{% endblock %}
