{% extends 'base.html.twig' %}

{% block title %}Edit Lot{% endblock %}

{% block body %}
    <h1>Edit Lot</h1>

    {{ include('lot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lot_index') }}">back to list</a>

    {{ include('lot/_delete_form.html.twig') }}
{% endblock %}
