{% extends 'base.html.twig' %}

{% block title %}New Lot{% endblock %}

{% block body %}
    <h1>Create new Lot</h1>

    {{ include('lot/_form.html.twig') }}

    <a href="{{ path('lot_index') }}">back to list</a>
{% endblock %}
