<form method="post" action="{{ path('acheteur_delete', {'id': acheteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acheteur.id) }}">
    <button class="btn">Delete</button>
</form>
