<form method="post" action="{{ path('estimation_delete', {'id': estimation.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette objet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estimation.id) }}">
    <button class="btn">Supprimer</button>
</form>
