{% extends 'base.html.twig' %}

{% block title %}New Estimation{% endblock %}

{% block body %}
    <h1>Create new Estimation</h1>

    {{ include('estimation/_form.html.twig') }}

    <a href="{{ path('estimation_index') }}">back to list</a>
{% endblock %}
