{% extends 'base.html.twig' %}

{% block title %}Edit OrdreAchat{% endblock %}

{% block body %}
    <h1>Edit OrdreAchat</h1>

    {{ include('ordre_achat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ordre_achat_index') }}">back to list</a>

    {{ include('ordre_achat/_delete_form.html.twig') }}
{% endblock %}
